rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tournaments/{tournament}/holes/{holeId} {
      allow read, write: if true;
    }
  }
}
